<p>profile-edit works!</p>
<div class="profileEditForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="profileEditForm">
        <mat-form-field>
            <input matInput formControlName="FirstName" placeholder="First Name">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput formControlName="LastName" placeholder="Last Name">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput formControlName="Birthday" [matDatepicker]="picker" placeholder="Birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
                
        <mat-form-field>
                <input matInput formControlName="Email" placeholder="Email">
            </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="PhoneNumber" placeholder="Phone Number">
        </mat-form-field>

        
        <mat-form-field>
            <textarea matInput formControlName="OtherInfo" placeholder="Other Info"></textarea>
        </mat-form-field>
        
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    </div>
    
    
    