<mat-toolbar color="primary">
    <span class= "icon"><img src="/assets\wolf-logo-title.jpg" alt="LOGO" height="68" width="95"></span>
    <span class="flex-filler"></span>
      
    <button *ngIf= "!isLoggedIn" mat-button class="nav-btn" routerLink="/register">Register</button>
    <button *ngIf= "!isLoggedIn" mat-button class="nav-btn" routerLink="/login">Login</button>
    <button *ngIf= "isLoggedIn" (click)="onSubmit()" mat-button class="nav-btn" routerLink= "/login">Logout</button> 
    <button *ngIf= "isLoggedIn" mat-button class="nav-btn" routerLink="/calendar">Calendar</button>
    <!-- <button *ngIf= "isLoggedIn" mat-button class="nav-btn" routerLink="/profile/get-profile/{{localStorage.getItem('UserID')}}">Profile</button> -->

</mat-toolbar>

