/* body {
    background-color: #274c5e;
}

.splashPage {
    display: flex;
}

.signInThings {
    display: flex;
    flex-direction: column;
}



.loginComponent {
    align-self: center;

}

.registrationComponent {
    align-self: center;

} */

body{
    height:658px;
    width: auto;
    background-color:#f55d3e;
}
.splashWords {
    font-size: 65px;
    margin: 0 .3em;
    color: white;
}
.splashWords h1{
    margin: 0 0;
}
.state{
    margin-top: 5;
    margin-left:.3em;
    font-size: 25px;
    color: White;
}
.nav-btn{
    background-color: #274c5e;
    width:500px;
    height: 50px;
    font-size: 30px;
}
.splashImage{
    flex-wrap: wrap;
}
