<div class="teamMessageCreateDiv">
    <mat-card>
        <mat-card-content>
            <h1>Create a Message</h1>
            <br>
            <div class="teamMessageCreateForm">
                <form (ngSubmit)="onSubmit()" [formGroup]="teamMessagingCreateForm">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Title" formControlName="Title" type="Title" required />
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <textarea matInput placeholder="Content" formControlName="Content" type="Content" required ></textarea>
                        </mat-form-field>
                    </div>
                    <div class="teamMessageCreateButton">
                        <button mat-button type="submit">Create</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>