<div class="updateTeamDiv">
        <mat-card>
            <mat-card-content>
                <h2>Update Team</h2>
                <br>
                <div class="TeamUpdate">
                    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
                        <div>
                                <mat-form-field>
                                        <input matInput placeholder="Team Name" formControlName="Team Name" type="Team Name" required />
                                    </mat-form-field>
                        </div>
                        <div class="updateTeamButton">
                            <button mat-button type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>