<h1>Messages</h1>
<button class="nav-btn" color="primary" routerLink="/teammessages/create">Create Message</button>
<div class="mainContainer">
    <div class="container" *ngFor="let teamMessaging of TeamMessaging;">
        <h4>{{teamMessaging.Title}}</h4>
        <p>{{teamMessaging.Content}}</p>
        <span class="time-right">{{teamMessaging.CreatedUtc}}</span>
        <i class="material-icons" routerLink="/teammessages/update">edit</i>
        <i class="material-icons" routerLink="/teammessages/delete/{{teamMessaging.MessageID}}">delete</i>
    </div>
</div>