<body><div class="loginDiv">
    <mat-card>
        <mat-card-content>
            <h2>Login</h2>
            <br>
            <div class="login">
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email" type="email" required />
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="Password" formControlName="password" type="password"
                                required />
                        </mat-form-field>
                    </div>
                    <div class="loginButton">
                        <button mat-button type="submit">Login</button>
                        <br>
                        <a routerLink="/register">Register as a New User</a>
                        <!-- <button mat-button class="nav-btn" routerLink="/register">Register</button> -->
                    </div>
                </form>
                <!-- <br />
                <a routerLink="/register">Register as a new user</a> -->
            </div>
        </mat-card-content>
    </mat-card>
</div>
</body>
