<div class="teamMessageUpdateDiv">
    <mat-card>
        <mat-card-content>
            <h1>Update a message</h1>
            <br>
            <div class="teamMessageUpdateForm">
                <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Title" formControlName="Title" type="Title" required />
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <input matInput placeholder="Content" formControlName="Content" type="Content" required />
                        </mat-form-field>
                    </div>
                    <div class="teamMessageUpdateButton">
                        <button mat-button type="submit">Update Team Message</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
