<div class="createTeamDiv">
    <mat-card>
        <mat-card-content>
            <h2>Create a Team</h2>
            <br>
            <div class="TeamCreate">
                <form (ngSubmit)="onSubmit(f)" [formGroup]="teamCreateForm">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Team Name" formControlName="TeamName" type="TeamName"
                                required />
                        </mat-form-field>
                    </div>
                    <div class="createTeamButton">
                        <button mat-button type="submit">Create Team</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>