<div class="teamDen">

    <h1>Team Dashboard</h1>

    <div class="calendarNavButton">
        <button mat-button class="nav-btn" *ngIf="team" routerLink="/calendar/{{team.TeamID}}">Calendar</button>
    </div>
    
    <div class="messageIndex">
        <mat-card class="messageScroll">
            <mat-card-content>
                <div class="messages">
                    <app-team-messaging-index></app-team-messaging-index>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="rosterComponent">
        <div>
            <app-get-profile-by-team></app-get-profile-by-team>
        </div>
    </div>
</div>
