<div class="teamDen">

    <h1>Team Dashboard</h1>

    <div class="messageIndex">
        <mat-card class="messageScroll">
            <mat-card-content>
                <div class="messages">
                    <app-team-messaging-index></app-team-messaging-index>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <app-get-profile-by-team></app-get-profile-by-team>
    </div>
</div>
<div class="navigationalButtonsIGuess">
    <button mat-button class="nav-btn" *ngIf="team" routerLink="/calendar/{{team.TeamID}}">Calendar</button>
    <br>
    <br>
    <button mat-button class="nav-btn" *ngIf="team" routerLink="/profile/index/{{team.TeamID}}">Add Players To Roster</button>
</div>
