<h1>Create a comment</h1>
<hr />
<form (ngSubmit)="onSubmit()" [formGroup]="commentsCreateForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="Name" type="Name" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Title" formControlName="Title" type="Title" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Content" formControlName="Content" type="Content" required />
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Comment</button>
</form>