<div class="profileDashboard">
  <div class="profileBio">
    <mat-card class="getProfileComponentCard" *ngIf="Profile">
      <mat-card-header>
        <mat-card-title><span>{{Profile.FirstName}} {{Profile.LastName}}</span></mat-card-title>
        <!-- <mat-card-subtitle><span>{{Team.TeamName}}</span></mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <div>
          <label>Name: </label>
          <br>
          <span>{{Profile.FirstName}} {{Profile.LastName}}</span>
          <br>
          <br>
          <label>Birthday: </label>
          <br>
          <span>{{Profile.Birthday | date:"shortDate"}}</span>
          <br>
          <br>
          <label>Email: </label>
          <br>
          <span>{{Profile.Email}}</span>
          <br>
          <br>
          <label>Phone Number: </label>
          <br>
          <span>{{Profile.PhoneNumber}}</span>
          <br>
          <br>
          <label>Other: </label>
          <br>
          <span>{{Profile.OtherInfo}}</span>
          <br>
          <br>
          <label *ngIf="register == Athlete">Parent: </label>
          <br>
          <span *ngIf="register == Athlete">{{Profile.ParentUsername}}</span>
          <br>
          <br>
          <label *ngIf="register == Parent">Child: </label>
          <br>
          <span *ngIf="register == Parent">{{Profile.AthleteUsername}}</span>
          <br>
          <br>
          <label *ngIf="register == Coach || register == Parent">Teams: </label>
          <br>
          <span *ngIf="register == Coach || register == Parent">{{Profile.MyTeams}}</span>
          <br>
        </div>
      </mat-card-content>
        <mat-card-actions>
          <button routerLink="/profile" mat-button>Edit Profile</button>
        </mat-card-actions>
    </mat-card>
  </div>

  <div class="rightSideOfProfile">
    <div class="teamNavButtons">
      <mat-card>
        <mat-card-content>
          <app-team-userid></app-team-userid>
        </mat-card-content>
      </mat-card>
    </div>

    <!--Comments Component goes here-->
    <div class="commentsOnProfile">
      <mat-card>
        <mat-card-content>
          <div class="comments">
            <app-comments-index *ngIf="Profile" [test]='Profile.ProfileID'></app-comments-index>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>