.profileBio{
    width: 40%;
}

.teamNavButtons{
    padding: 2px;
}

.commentsOnProfile{
    margin-top: 2em;

}

.getProfileComponentCard{
    color: grey;
    /* background-color: #F6F6F7; */
}

.rightSideOfProfile{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.profileDashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
}

.mat-button{
    margin-right: .5em;
    background-color:#F55D3E;
    color: whitesmoke;
}

