<div class="rosterExpansion" *ngFor="let item of Profile">
    <h2>Roster</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>{{item.FirstName}} {{item.LastName}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="rosterContents">
                <div>
                    <mat-card>
                        <mat-card-content>
                            <div class="profileBio">
                                <label>Name: </label>
                                <br>
                                <span>{{item.FirstName}} {{item.LastName}}</span>
                                <br>
                                <br>
                                <label>Birthday: </label>
                                <br>
                                <span>{{item.Birthday | date:"shortDate"}}</span>
                                <br>
                                <br>
                                <label *ngIf="register != 'Athlete'">Email: </label>
                                <br *ngIf="register != 'Athlete'">
                                <span *ngIf="register != 'Athlete'">{{item.Email}}</span>
                                <br *ngIf="register != 'Athlete'">
                                <br *ngIf="register != 'Athlete'">
                                <label *ngIf="register != 'Athlete'">Phone Number: </label>
                                <br *ngIf="register != 'Athlete'">
                                <span *ngIf="register != 'Athlete'">{{item.PhoneNumber}}</span>
                                <br *ngIf="register != 'Athlete'">
                                <br *ngIf="register != 'Athlete'">
                                <label>Other: </label>
                                <br>
                                <span>{{item.OtherInfo}}</span>
                                <br>
                                <br>
                                <label *ngIf="register == 'Athlete'">Parent: </label>
                                <br *ngIf="register == 'Athlete'">
                                <span *ngIf="register == 'Athlete'">{{item.ParentUsername}}</span>
                                <br *ngIf="register == 'Athlete'">
                                <br *ngIf="register == 'Athlete'">
                                <label *ngIf="register == 'Parent'">Child: </label>
                                <br *ngIf="register == 'Parent'">
                                <span *ngIf="register == 'Parent'">{{item.AthleteUsername}}</span>
                                <br *ngIf="register == 'Parent'">
                                <br *ngIf="register == 'Parent'">
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="commentCreateComponent">
                    <app-comments-create *ngIf="Profile" [test]='item.ProfileID'></app-comments-create>
                </div>
                <div class="removeAthleteBtn">
                    <button type="submit" *ngIf="Profile" (click)="onClick(item.ProfileID)">Remove Player</button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<!--
<mat-card>
    <mat-card-content>
        <div>
            profile info
        </div>
    </mat-card-content>
</mat-card> -->